<div id="tools">
  <% if (loggedin && clientFirstname) { %>
    <a href="/account/">Welcome <%= clientFirstname %></a>
  <% } else { %>
    <a title="Click to log in" href="/account/login">My Account</a>
  <% } %>
</div>
