<main id="vehicle-detail-view">
  <% if (typeof title !== 'undefined' && title) { %>
    <h1><%= title %></h1>
  <% } %>
  <div class="vehicle-container">
    <%- typeof detailHTML !== 'undefined' ? detailHTML : '' %>
  </div>
</main>
