<% if (title) { %>
  <h1><%= title %></h1>
<% } else { %>
  <h1>Server Error</h1>
<% } %>

<p><%= message || "Something went wrong on our end. Please try again later." %></p>

<a href="/" class="btn-home">Return to Home</a>
